*{
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:rgb(238,238,238);
  overflow: hidden;
  font-family: sans-serif;
  touch-action: pan-x;
}
.cursor{
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 63px;
  width: 63px;
  border: 1.5px solid black;
  border-radius: 50%;
  transition: 200ms;
  transition-timing-function: ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.arrow:first-of-type{
  transition:margin 200ms;
  transform: rotateZ(180deg);
  margin-left: 5px;
}
.arrow:nth-of-type(2){
  transition:margin 200ms;
  margin-right: 5px;
}
.arrow{
  height: 20px;
  width: 20px;
}
#change{
  z-index: 999;
}
canvas{
  pointer-events: none;
}
.theme-buttons{
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}
.theme-button{
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px 20px;
  transition: 0.2s;
  background: transparent;
  color: black;
}
.theme-button:hover{
  background-color: black;
  color: white;
}
@media screen and (max-width:425px) {
  .cursor{
    display: none;
  }
  
}